:root {
  --color-bg: #fff;
  --color-footer: #ddd;
  --color-field: #eee;
  --color-primary: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #333;
    --color-footer: #444;
    --color-field: #222;
    --color-primary: #e4e4e4;
  }  
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

header {
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  min-height: calc(100svh - 64px - 158px);
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-primary);
}

main {
  max-width: 320px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  padding: 8px 16px;
  font-size: .8em;
  min-height: 32px;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-text {
  text-decoration: none;
  color: var(--color-primary);
  font-size: .5em;
  background-color: transparent;
  border: none;
  margin: 8px 0;
}
.btn-text:hover {
  text-decoration: underline;
  transition: text-decoration linear .2s;
}
.btn-group {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  box-sizing: border-box;
}
.btn-group .btn {
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  min-height: 30px;
}
.btn-group select {
  height: 30px;
}

.will-list {
  display: grid;
  grid-template-rows: repeat(auto);
  gap: 16px;
  margin: 16px 0 32px;
}
.will-list-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1em;
  align-items: center;
}
.will-list-item summary {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.will-list-item summary small {
  font-size: x-small;
}
.will-list-footer {
  display: grid;
  justify-content: end;
  margin-top: 16px;
}

.form-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.form-horizontal.center {
  justify-content: center;
}
.form-horizontal.right {
  justify-content: end;
}


.form-horizontal dl {
}

.form-horizontal dt {
  height: 16px;
  line-height: 16px;
  font-size: 0.5em;
}

.form-horizontal dd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  gap: 8px;
}

.form-vertical {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-vertical dl {
}

.form-vertical dt {
}

.form-vertical dd {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select, input, textarea {
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  background-color: var(--color-field);
  color: var(--color-primary);
}

label:has(input:not([type=checkbox],[type=radio])) {
  background-color: var(--color-field);
  border-radius: 2px;
  padding-left: 8px;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
label:has(input:not([type=checkbox],[type=radio])):focus-within {
  outline-width: 1px;
  outline-style: solid;
}
label input:not([type=checkbox],[type=radio]) {
  padding-left: 0;
  flex: 1;
  outline: none;
}

.form-vertical dd select,
.form-vertical dd input,
.form-vertical dd textarea {
}
.form-vertical dd p {
  margin: 8px 0;
  padding: 0 8px;
  font-size: 0.5em;
}

.w100 {
  width: 100%;
}

hr {
  margin: 64px 0;
}

.flex {
  flex: 1;
}

.loading {
  position: relative;
}
.loading::after {
  content:"";
  animation: rotate infinite .5s;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: -10px;
}
@keyframes rotate {
   0% { content: "ooo" }
  25% { content: "Ooo" }
  50% { content: "oOo" }
  75% { content: "ooO" }
  100% { content: "ooo" }
}

table {
  font-size: 0.5em;
  width: 100%;
}
th, td {
  text-align: center;
  padding: 8px 2px;
  vertical-align: middle;
}
thead tr {
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}
caption {
  font-size: 0.75em;
  padding: 16px 0;
}

.transparent {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 0.5em;
  gap: 32px;
  padding: 32px 0;
  margin-top: 32px;
  background-color: var(--color-footer);
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#lp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#lp p,
#lp dt,
#lp dd {
  font-size: 0.75em;
  line-height: 24px;
}
#lp dt {
  font-weight: bold;
}

#lp dd {
  margin-bottom: 16px;
}

#lp hgroup {
  text-align: center;
  padding: 96px 0;
}

#lp h1 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 48px;
}

#lp h2 {
  font-size: 0.9em;
  padding: 24px 0;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.page p {
  font-size: 0.75em;
  line-height: 24px;
}

.page h1 {
  text-align: center;
  font-size: 16px;
  padding: 48px 0;
}

.page h2 {
  font-size: 0.9em;
  font-weight: bold;
  padding: 24px 0 8px;
}

.page b {
  font-weight: bold;
}

.page ul {
  padding-left: 2em;
  list-style: disc;
}

.page li {
  font-size: 0.75em;
  line-height: 2.4em;
}

.pr {
  margin: 16px 0;
}
.pr li {
  margin-bottom: 8px;
}
.pr ul li {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: auto auto;
  gap: 8px;
  align-items: center;
}
.pr ul li img {
  grid-column: 1/2;
  grid-row: 1/3;
}
.pr ul li p {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 0.75em;
}
.pr ul li a {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 0.75em;
  padding-left: 1em;
}

.sponsors h2 {
  text-align: center;
  margin-bottom: 24px;
}
.sponsors ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.sponsors ul li {
  text-align: center;
}
small {
  font-size: 0.75em;
}